<!-- redessociales-kpis.component.html -->
<div class="row">
  <div class="row">
    <div class="col-md-5 mt-1">
      <h4>Filtrar por:</h4>
    </div>
    <div class="col-md-6">
      <h2 class="my-3">{{ currentTitle }}</h2>
    </div>
  </div>

  <!-- Íconos de redes sociales como botones que se pueden seleccionar -->
  <div class="col-md-4">
    <strong>Red Social:</strong>
    <div class="d-flex flex-wrap">
      <div *ngFor="let social of availableSocialMedias" class="row">
        <nb-icon [icon]="social.name+'-icon'" pack="seekop" (click)="toggleSocialMedia(social)"
          class="filter-icons icon-hover" [class.icon-active]="social.selected"
          style="font-size: xx-large; cursor: pointer;">
        </nb-icon>
      </div>
    </div>
  </div>

  <div class="col-md-5 time-icons mb-5">
    <div class="row ms-5">
      <strong class="ms-5">Periodo:</strong>
      <div class="col-md-1 ms-5">
        <nb-icon icon="calendar-month" pack="seekop" (click)="setTimeFilter('month')" class="icon-hover"
          [class.icon-active]="timeFilter === 'month'"
          style="width: 40px; height: 40px; font-size: xx-large; cursor: pointer;" nbTooltip="Filtrar por mes"
          nbTooltipPlacement="bottom"></nb-icon>
      </div>
      <div class="col-md-1 ms-5">
        <nb-icon icon="calendar-week" pack="seekop" (click)="setTimeFilter('week')" class="icon-hover"
          [class.icon-active]="timeFilter === 'week' "
          style="width: 40px; height: 40px; font-size: xx-large; cursor: pointer;" nbTooltip="Filtrar por semana"
          nbTooltipPlacement="bottom"></nb-icon>
      </div>
      <div class="col-md-1 ms-5">
        <nb-icon icon="calendar-day" pack="seekop" (click)="setTimeFilter('day')" class="icon-hover"
          [class.icon-active]="timeFilter === 'day'"
          style="width: 40px; height: 40px; font-size: xx-large; cursor: pointer;" nbTooltip="Filtrar por día"
          nbTooltipPlacement="bottom"></nb-icon>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <!-- nb-select de Nebular para selección múltiple -->
    <div class="row">
      <strong>Categoría:</strong>
      <nb-select multiple [(selected)]="selectedCategories" (selectedChange)="applyFilters()">
        <nb-option *ngFor="let category of allCategories" [value]="category">
          {{ category }}
        </nb-option>
      </nb-select>
    </div>
  </div>
</div>


<div class="row">
  <!-- Contenedor principal para una categoría de KPIs -->
  <div *ngFor="let group of groupedKpisData" class="kpi-category-group">
    <h4>{{ group.category }}</h4>
    <div class="row">
      <!-- Itera sobre los KPIs y colócalos en una cuadrícula -->
      <div class="col-md-4" *ngFor="let kpi of group.kpis">
        <app-kpi-card [socialMedia]="kpi"></app-kpi-card>
      </div>
    </div>
  </div>
</div>
