<!-- Mensaje cuando no hay logueos -->
<div *ngIf="logins.length === 0" class="row justify-content-center align-items-center" style="height: 300px;">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-6 text-center mt-5">
      <h4 class="mt-5"><nb-icon icon="info-outline" pack="eva" style="font-size: 40px; color: #aaa; margin-right: 10px;"></nb-icon>No hay datos que mostrar</h4>
      <p style="margin-left: 53px; margin-top: -20px">Comienza creando tu primer logueo.</p>
    </div>
  </div>
</div>

<!-- Contenedor para todas las redes sociales -->
<div class="row">
  <div class="col-12 col-sm-6 col-md-4 mt-3" *ngFor="let redSocial of filteredRedesSociales">
    <nb-card [ngClass]="getCardClass(redSocial.nombre)" class="h-100">
      <nb-card-header>
        <div class="header-content d-flex align-items-center">
          <nb-icon class="col-2 filter-icons me-2" [icon]="redSocial.icon" pack="seekop"></nb-icon>
          <h3>{{ redSocial.nombre }}</h3>
        </div>
      </nb-card-header>
      <nb-card-body>
        <!-- Mostrar conexiones para esta red social -->
        <div *ngFor="let login of getLoginsByRedSocial(redSocial.idred)" class="mb-3">
          <div class="d-flex justify-content-between align-items-center">
            <p>{{ login.email }}</p>
            <button nbButton status="danger" (click)="desvincularCuenta(login)">Desvincular cuenta</button>
          </div>
        </div>
        <!-- Botón para conectar nueva cuenta -->
        <div class="d-flex justify-content-end">
          <button nbButton status="primary" (click)="openModal(redSocial.idred)">
            {{ getLoginsByRedSocial(redSocial.idred).length > 0 ? 'Conectar otra cuenta' : 'Conectar' }}
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>





