/* En el CSS del componente modal-publicacion.component.scss */

/* Estilos para la clase .img-previsualizacion, destinada a imágenes de previsualización en el modal. */
.img-previsualizacion {
  width: 350px; /* Establece un ancho fijo */
  height: 200px; /* Establece una altura fija */
  object-fit: contain; /* Escala la imagen para adaptarse al contenedor, mostrándola completa */
  display: block; /* Elimina espacio extra alrededor de la imagen */
  margin-left: auto; /* Centra la imagen horizontalmente */
  margin-right: auto; /* Centra la imagen horizontalmente */
  margin-left: 95px;
}


/* Estilos para la clase .social-media-icon, destinada a íconos de redes sociales en el modal. */
.social-media-icon {
  max-width: 50%; /* Asegura que el ícono de la red social no exceda el 50% del ancho de su contenedor, manteniendo el diseño balanceado y evitando que el ícono domine visualmente el espacio. */
  max-height: 50px; /* Establece un alto máximo de 50px para el ícono, asegurando que no sea demasiado grande y mantenga una apariencia estética y proporcionada dentro del modal. */
  object-fit: cover; /* Al igual que con las imágenes de previsualización, ajusta el ícono para cubrir el espacio asignado de manera adecuada. Dependiendo del aspecto y tamaño original del ícono, puede recortarse para encajar. */
}
