<!-- Botón para abrir un modal de creación de publicación. Utiliza Nebular para el estilo y ngx-translate para la internacionalización del texto. -->
<button nbButton hero status="primary" (click)="openModal()">{{ 'pages.publicaciones.botonCrearPublicacion' | translate }}</button>

<!-- Contenedor para las publicaciones. Utiliza Bootstrap para el diseño responsivo. -->
<div class="row">
  <div class="col-md-4" *ngFor="let publicacion of publicaciones"> <!-- Crea una tarjeta para cada publicación utilizando un bucle *ngFor. -->

    <!-- Tarjeta Nebular para una publicación individual. -->
    <nb-card>

      <!-- Cabecera de la tarjeta, muestra los íconos de las redes sociales asociadas a la publicación. -->
      <nb-card-header>
        <div class="header-content d-flex">
          <h3>{{ 'pages.publicaciones.labelPublicadoEn' | translate }}</h3>
          <!-- Utiliza nb-icon para mostrar íconos -->
          <nb-icon class="col-md-1 filter-icons" style="margin-right: 2px;" *ngFor="let red of publicacion.redSocial" [icon]="getSocialMediaIcon(red)" pack="seekop"></nb-icon>
        </div>
      </nb-card-header>


      <!-- Cuerpo de la tarjeta, muestra el título y la descripción de la publicación. -->
      <nb-card-body>
        <h5>{{ publicacion.titulo }}</h5>
        <p>{{ publicacion.descripcion }}</p>
        <!-- Si la publicación tiene una imagen asociada, muestra la imagen con un tamaño controlado. -->
        <img *ngIf="publicacion.imagen" [src]="publicacion.imagen" class="img-fluid img-previsualizacion" alt="{{ 'pages.publicaciones.altPublicacion' | translate }}">
      </nb-card-body>

      <!-- Pie de página de la tarjeta, contiene un enlace para más información sobre la publicación. -->
      <nb-card-footer>
        <!-- El enlace abre en una nueva pestaña gracias a target="_blank". -->
        <a [href]="publicacion.link" target="_blank">{{ 'pages.publicaciones.labelMasInfo' | translate }}</a>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
