<!-- El componente <router-outlet> es utilizado por el sistema de enrutamiento de Angular.
     Actúa como un contenedor para las vistas (componentes) que se mostrarán según la ruta visitada.
     Cuando el usuario navega a una ruta, el componente correspondiente a esa ruta se renderiza dentro de <router-outlet>.
     Esto permite una navegación fluida dentro de una aplicación de página única (SPA), cargando diferentes componentes
     sin necesidad de recargar la página completa. -->
<router-outlet></router-outlet>
