<!-- Contenedor principal para la información del usuario, aplicando estilos personalizados para el tamaño. -->
<div class="custom-nb-user size-large">
  <!-- Contenedor secundario que agrupa toda la información y la imagen del usuario. -->
  <div class="user-container">
    <!-- Contenedor para la información del usuario (nombre y título). -->
    <div class="info-container">
      <!-- Nombre del usuario. -->
      <div class="user-name">Etaili De La Cruz</div>
      <!-- Título o posición del usuario. -->
      <div class="user-title">Software Engineer</div>
    </div>
    <!-- Contenedor para la imagen de perfil del usuario. La imagen se establece mediante CSS con background-image. -->
    <div class="user-picture" style="background-image: url('../../../assets/images/avatar-user.png');">
      <!-- Indicador de estado (badge) utilizando componentes de Nebular para mostrar, por ejemplo, si el usuario está en línea o no. -->
      <div class="nb-badge status-primary">.</div>
    </div>
  </div>
</div>
