<!-- Contenedor principal del modal con un tamaño grande definido. -->
<div class="modal-dialog modal-lg">
  <!-- Tarjeta de Nebular que forma el cuerpo del modal, con fondo blanco. -->
  <nb-card class="modal-publicacion row" style="background-color: #fff; padding: 10px; zoom: 81%;">

    <nb-card-header class="mt-2 mb-2">
      <app-header-modal
        [icon]="'mdi-contact-info'"
        [title]="'components.modal-publicacion.labelCrearPublicacion'"
        (eventClose)="closeModal()">
      </app-header-modal>
    </nb-card-header>


    <!-- Cuerpo de la tarjeta organizado en dos columnas para entrada de datos y previsualización. -->
    <nb-card-body class="row">

      <!-- Columna izquierda para la entrada de datos de la publicación. -->
      <div class="col-md-6">
        <app-form-modal-publicacion
          [submitted]="submitted"
          [publicacion]="publicacion"
          [fechaProgramada]="fechaProgramada"
          [redesSociales]="optionsRedesSociales"
          [campanias]="optionsCampanias"
          (formValuesChange)="onFormValuesChange($event)"
          (eventAgregarSubCampania)="agregarNuevaCampania($event)"
          (eventFileSelect)="onFileSelect($event)">
        </app-form-modal-publicacion>
      </div>

      <!-- Columna derecha para previsualizar la publicación con título, descripción e imagen cargada. -->
      <div class="col-md-6">
        <strong style="font-size: 20px;"><nb-icon class="subtitulo-modal-publicacion-icono"
            style=" color: #002A7F; margin-right: 20px; margin-bottom: 30px; margin-top: 10px;" icon="eye-outline"
            pack="eva"></nb-icon>{{ 'components.modal-publicacion.labelPrevisualizacion' | translate }}</strong>
        <div class="previsualizacion-container mb-4">
          <div class="row">
            <div class="col-md-12">
              <div class="redes-sociales d-flex">
                <nb-icon class="col-md-2 filter-icons icon-hover" style="margin-right: -10px;"
                  *ngFor="let red of publicacion.redSocial.length ? publicacion.redSocial : publicacionDefault.redSocial"
                  [icon]="getSocialMediaIcon(red)" pack="seekop"></nb-icon>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="previsualizacion-info" style="margin-top: 50px;">
                <strong>{{ publicacion.titulo || publicacionDefault.titulo }}</strong>
              </div>
            </div>
          </div>

          <!-- Previsualizacion iamgen o video-->
          <div class="row">
            <div class="col-md-12">
              <ng-container *ngIf="fileType !== ''; else defaultImageTemplate">
                <ng-container *ngIf="imagenPrevisualizacion">
                  <video *ngIf="fileType === 'video'; else imageTemplate" [src]="imagenPrevisualizacion"
                    class="img-fluid img-previsualizacion" controls></video>
                </ng-container>
                <ng-template #imageTemplate>
                  <img *ngIf="fileType === 'image'" [src]="imagenPrevisualizacion"
                    class="img-fluid img-previsualizacion"
                    alt="{{ 'components.modal-publicacion.altPrevisualizacion' | translate }}">
                </ng-template>
              </ng-container>
              <ng-template #defaultImageTemplate>
                <img *ngIf="!imagenPrevisualizacion" [src]="defaultPreviewImage" class="img-fluid img-previsualizacion"
                  alt="Imagen por defecto">
              </ng-template>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12">
              <div class="previsualizacion-info" style="margin-top: -16px">

                <p>{{ publicacion.descripcion || publicacionDefault.descripcion }}</p>

              </div>
            </div>
          </div>


        </div>
      </div>
    </nb-card-body>


    <!-- Pie de la tarjeta con botones para diversas acciones relacionadas con la publicación. -->
    <nb-card-footer>
      <app-footer-modal 
        [submitLabel]="'components.modal-publicacion.botonPublicar'" 
        [cancelLabel]="'components.modal-publicacion.botonCancelar'"
        (eventSubmit)="publicar()"
        (eventCancel)="cancelar()">
      </app-footer-modal>
    </nb-card-footer>
  </nb-card>
</div>