<!-- Contenedor principal del modal con un tamaño grande definido. -->
<div class="modal-dialog modal-lg">
  <!-- Tarjeta de Nebular que forma el cuerpo del modal, con fondo blanco. -->
  <nb-card class="modal-publicacion row" style="background-color: #fff; padding: 10px; zoom: 60%;">

    <!-- Cabecera de la tarjeta con el título del modal, internacionalizado. -->
    <nb-card-header class="mt-2 mb-2">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-1 ">
          <nb-icon class="titulo-modal-publicacion-icono" icon="mdi-contact-info" pack="seekop"></nb-icon>
        </div>
        <div class="col-md-6" style="margin-left: -30px;">
          <h1> {{ 'components.modal-publicacion.labelCrearPublicacion' | translate }}</h1>
        </div>

        <div class="col-md-1" style="text-align: right;">
          <nb-icon icon="close-outline" nbTooltip="Cerrar" pack="eva" (click)="closeModal()"></nb-icon>
        </div>
      </div>
    </nb-card-header>

    <!-- Cuerpo de la tarjeta organizado en dos columnas para entrada de datos y previsualización. -->
    <nb-card-body class="row">



      <!-- Columna izquierda para la entrada de datos de la publicación. -->
      <div class="col-md-6">
        <strong style="font-size: 20px;"><nb-icon class="subtitulo-modal-publicacion-icono"
            style="margin-right: 20px; margin-bottom: 30px; margin-top: 10px;" icon="mdi-car" pack="seekop"></nb-icon>
          Datos de la publicación</strong>
        <div class="row">

          <!-- Selección de redes sociales con validación. -->
          <div class="col-md-12">
            <label [ngClass]="{'text-danger': submitted && publicacion.redSocial.length === 0}">Publicar en *</label>
            <nb-select fullWidth class="mb-4"
              placeholder="{{'components.modal-publicacion.placeHolderSeleccionaRedSocial' | translate}}"
              [(ngModel)]="publicacion.redSocial" multiple>
              <nb-option *ngFor="let redSocial of redesSocialesDisponibles" [value]="redSocial.value">
                {{ redSocial.label }}
              </nb-option>
            </nb-select>
          </div>

          <!-- Entrada para el título de la publicación con validación. -->
          <div class="col-md-12">
            <label [ngClass]="{'text-danger': submitted && !publicacion.titulo}">Título de la publicación *</label>
            <input fullWidth nbInput maxlength="50"
              placeholder="{{'components.modal-publicacion.placeHolderTituloPublicacion' | translate }}"
              [(ngModel)]="publicacion.titulo" required class="form-control mb-4">
          </div>

          <!-- Área de texto para la descripción de la publicación con validación. -->
          <div class="col-md-12">
            <label [ngClass]="{'text-danger': submitted && !publicacion.descripcion}">Descripción de la publicación
              *</label>
            <textarea fieldSize="large" fullWidth nbInput
              placeholder="{{'components.modal-publicacion.placehoderDescripcionPublicacion' | translate }}"
              [(ngModel)]="publicacion.descripcion" required class="form-control mb-4"></textarea>
          </div>

          <!-- Componente de carga de archivos con previsualización de imagen. -->
          <div class="col-md-12">
            <label [ngClass]="{'text-danger': submitted && !isValidFile}">Imágen de la publicación *</label>
            <ngx-file-drop (onFileDrop)="onFileDrop($event)" (click)="fileInput.click()">
              <ng-template ngx-file-drop-content-tmp>
                <div class="custom-content" [class.success]="isValidFile" [class.error]="!isValidFile && submitted">
                  {{ dropZoneMessage }}
                </div>
              </ng-template>
            </ngx-file-drop>
            <input type="file" #fileInput style="display: none;" (change)="onFileSelect($event)">
          </div>

        </div>

        <strong style="font-size: 20px;"><nb-icon class="subtitulo-programar-modal-publicacion-icono"
            style="margin-right: 20px; margin-bottom: 30px; margin-top: 50px;" icon="calendar-text-outline"
            pack="seekop"></nb-icon>
          <div style="margin-top: -43px; margin-left: 48px;">Programar Publicación</div>
        </strong>


        <div class="row mt-3">
          <div class="col-md-12">
            <label [ngClass]="{'text-danger': submitted && !esFechaValidaFlag}">Selecciona fecha de publicación *</label>

          </div>
          <div class="col-md-12">
            <input fullWidth nbInput placeholder="Selecciona la fecha de publicación (opcional)" [nbDatepicker]="datepicker" [(ngModel)]="fechaProgramada" (ngModelChange)="esFechaValida()">
            <nb-datepicker #datepicker></nb-datepicker>

          </div>
        </div>

      </div>

      <!-- Columna derecha para previsualizar la publicación con título, descripción e imagen cargada. -->
      <div class="col-md-6">
        <strong style="font-size: 20px;"><nb-icon class="subtitulo-modal-publicacion-icono"
            style=" color: #002A7F; margin-right: 20px; margin-bottom: 30px; margin-top: 10px;" icon="eye-outline"
            pack="eva"></nb-icon>{{ 'components.modal-publicacion.labelPrevisualizacion' | translate }}</strong>
        <div class="previsualizacion-container mb-4">
          <div class="row">
            <div class="col-md-12">
              <div class="redes-sociales d-flex">
                <nb-icon class="col-md-2 filter-icons icon-hover" style="margin-right: -10px;"
                  *ngFor="let red of publicacion.redSocial.length ? publicacion.redSocial : publicacionDefault.redSocial"
                  [icon]="getSocialMediaIcon(red)" pack="seekop"></nb-icon>
              </div>

            </div>

          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="previsualizacion-info" style="margin-top: 50px;">
                <strong>{{ publicacion.titulo || publicacionDefault.titulo }}</strong>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <!-- En tu sección de previsualización dentro del modal -->
              <img *ngIf="imagenPrevisualizacion; else defaultImageTemplate" [src]="imagenPrevisualizacion"
                class="img-fluid img-previsualizacion"
                alt="{{'components.modal-publicacion.altPrevisualizacion' | translate}}">
              <ng-template #defaultImageTemplate>
                <img [src]="defaultPreviewImage" class="img-fluid img-previsualizacion" alt="Imagen por defecto">
              </ng-template>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="previsualizacion-info" style="margin-top: -16px">

                <p>{{ publicacion.descripcion || publicacionDefault.descripcion }}</p>

              </div>
            </div>

          </div>


        </div>
      </div>
    </nb-card-body>

    <!-- Pie de la tarjeta con botones para diversas acciones relacionadas con la publicación. -->
    <nb-card-footer>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-2" style="margin-right: -10px;">
              <nb-icon class="col-md-1 modal-publicacion-icono" style="margin-right: 8px;" icon="mdi-alert-outline"
                pack="seekop"></nb-icon>
            </div>
            <div class="col-md-10" style="margin-left: -15px;">
              <span
                style="font: italic normal normal 15px/20px Montserrat; color: #272D3B; opacity: 1; letter-spacing: 0px;">Los
                campos con un * son obligatorios</span>
            </div>
          </div>
        </div>
        <div class="col-md-5">
        </div>
        <div class="col-md-1">
          <button nbButton hero status="primary" (click)="agregarPublicacion()" class="btn btn-primary "
            style="margin-left: -50px; padding: 10px !important;">
            <nb-icon class="col-md-1 modal-publicacion-icono" style="margin-right: 8px;" icon="mdi-cloud-upload-outline"
              pack="seekop"></nb-icon>
            {{ 'components.modal-publicacion.botonPublicar' | translate }}
          </button>
        </div>
        <div class="col-md-1">
          <button nbButton status="danger" (click)="cancelar()" class="btn btn-danger" style="margin-left: -30px; padding: 10px !important;">
            <nb-icon class="col-md-1 modal-publicacion-icono" icon="close-circle-outline" pack="eva"></nb-icon>
            {{ 'components.modal-publicacion.botonCancelar' | translate }}
          </button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</div>
