/* En el CSS del componente modal-publicacion.component.scss */
.img-previsualizacion {
  max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
  max-height: 200px; /* Establece un alto máximo para no alterar el diseño */
  object-fit: cover; /* Ajusta la imagen para cubrir el espacio disponible, puede cambiar según necesidad */
}
