<!-- Cabecera de la tarjeta con el título del modal, internacionalizado. -->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-1 ">
    <nb-icon class="titulo-modal-publicacion-icono" icon="icon" pack="seekop"></nb-icon>
  </div>
  <div class="col-md-6" style="margin-left: -30px;">
    <h1> {{ title | translate }}</h1>
  </div>

  <div class="col-md-1" style="text-align: right;">
    <nb-icon icon="close-outline" nbTooltip="Cerrar" pack="eva" (click)="closeModal()"></nb-icon>
  </div>
</div>