<div class="post-container">
    <div class="post-header">
      <img  alt="Profile Picture" class="profile-pic">
      <div class="user-info">
        <span class="user-name">Seekop</span>
        <span class="post-date">12/208</span>
      </div>
    </div>
    <div class="post-media">
      <!-- Use an image or video element depending on the media type -->
      <img  alt="Post Image" class="post-media">
     <!--- <video *ngIf="mediaType === 'video'" controls class="post-media">
        <source [src]="mediaUrl" type="video/mp4">
        Your browser does not support the video tag.
      </video>---->
    </div>
    <div class="post-footer">
      <div class="like-comment-section">
        <span>❤️ 100 likes</span>
        <span>💬 20 comments</span>
      </div>
      <div class="post-description">
        <span class="user-name">Seekop</span> Publicacion prueba
      </div>
    </div>
  </div>
  