.kpi-card {
  background: #FFFFFF no-repeat padding-box; // Fondo blanco sin imagen de fondo
  box-shadow: 0px 3px 6px #272D3B33; // Sombra suave con opacidad
  border-radius: 20px; // Bordes redondeados
  opacity: 1; // Opacidad completa
  padding: 20px; // Ajusta el relleno según sea necesario
  margin: 10px; // Ajusta el margen según sea necesario

  canvas {
    max-width: 100%;
    height: auto; // Asegura que el canvas no se deforme
  }

  .kpi-details {
    margin-top: 10px;

    .kpi-title {
      font-size: 1.2rem; // Tamaño de fuente para el título
      color: #333; // Color de fuente para el título
      margin-bottom: 5px;
    }

    .kpi-percentage {
      font-size: 2rem; // Tamaño de fuente para el porcentaje
      color: #333; // Color de fuente para el porcentaje
      font-weight: bold; // Negrita para el porcentaje
    }

    .kpi-value {
      font-size: 1rem; // Tamaño de fuente para el valor
      color: #666; // Color de fuente para el valor
    }
  }
}
