<!-- kpi-card.component.html -->
<div class="card kpi-card shadow-sm">
  <div class="row g-0">
    <div class="col-6">
      <canvas #chartCanvas></canvas>
    </div>
    <div class="col-6 text-left">
      <div class="row g-0">
        <div class="col-12 mb-2">
          <h6 class="kpi-title">
            {{ socialMedia.name }}
          </h6>
        </div>
        <div class="col-12">
          <h5 class="kpi-value" style="font-size: xx-large; cursor: pointer;" nbTooltip="Periodo Anterior vs Periodo Actual" nbTooltipPlacement="bottom">
            {{ socialMedia.anterior }}/{{ socialMedia.actual }}
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
